@import '~react-md/src/scss/react-md';
$md-primary-color: black;
$md-secondary-color: $md-red-800;
$md-tertiary-color: black;

.main-container,
.darker-background {
    background-color: black;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
